<h1>Books</h1>

<p>This is a list of some of the books I have read that are related to my course, programming and/or software development. It does not include textbooks I read for my course. They are not required reading for my course and I read them in my free time, purely for my own interest.</p>

<br/>

<ul>
  <li>
    <span class="bold">The Mythical Man Month</span><span> by Frederick P. Brooks, Jr.</span>
  </li>
  <li>
    <span class="bold">Rebel Code</span><span> by Glyn Moody</span>
  </li>
  <li>
    <span class="bold">Cambrian Intelligence</span><span> by Rodney A.Brooks</span>
  </li>
  <li>
    <span class="bold">Software Requirements and Specifications</span><span> by Michael Jackson</span>
  </li>
  <li>
    <span class="bold">Accidental Empires</span><span> by Robert X. Cringely</span>
  </li>
  <li>
    <span class="bold">Peer-to-Peer</span><span> by Andy Oram</span>
  </li>
  <li>
    <span class="bold">Postmortems from Game Developer(s)</span>
  </li>
</ul>
