<h1>About me</h1>

<p>I am an undergraduate student studying computer science at the <a href="http://www.bath.ac.uk/">University of Bath</a>. I am in my second year. Check out some of my <a href="Projects.html">work</a> or read some stuff I've <a href="Writing.html">written</a> (guides, tutorials, notes etc.). You can also take a look at the <a href="about/Books.html">books</a> I've read or my photos on <a href="http://www.flickr.com/photos/ashley_heath/">Flickr</a>.</p>
<p>A copy of my CV can be found <a href="{!static_path!}pdf/Ashley Heath.pdf">here</a>.</p>
<p>You can email me at <span class="bold">ashley<span class="hidden">*****</span>@<span class="hidden">*****</span>ashleyheath<span class="hidden">*****</span>.<span class="hidden">*****</span>net.</span></p>
