<h1>Projects</h1>

<p>This page lists some of my work from both my course and my own projects. The list is sorted descending in reverse-chronological order i.e. most recent work at the top.</p>
<ul class="bulleted">
  <li><a href="#aws">aws</a></li>
  <li><a href="#ashleyheath.net">ashleyheath.net</a></li>
  <li><a href="#1st Year University Work">1st Year University Work</a></li>
</ul>

<h2 id="aws">aws</h2>
<p>(From the <a href="https://bitbucket.org/ashleyheath/aws/wiki/Home">wiki</a>) aws is a simple webserver, written in Python, built with the goal of having a simple architecture and an easy to understand codebase while maintaining a high level of performance and extensibility. It is not fully HTTP1.1 compliant (yet!) but it plays nicely with all modern browsers (Firefox + Firefox Mobile, Chrome, Opera). Take a look at the <a href="https://bitbucket.org/ashleyheath/aws">source code</a>.</p>

<h2 id="ashleyheath.net">ashleyheath.net</h2>
<ul>
  <li>
    <h3>Supporting Scripts</h3>
    <p>This is a static site and its pages are built using an HTML template, 2 Python scripts and a bit of Bash scripting. The <a href="https://www.bitbucket.org/ashleyheath/ashleyheath.net/src/b34f85580201/build_scripts/page_renderer.py">page renderer</a> takes a list of pages containing the site's content and inserts it into the template. Then the links for static resources such as style sheets and images are fixed using the <a href="https://www.bitbucket.org/ashleyheath/ashleyheath.net/src/b34f85580201/build_scripts/page_fixer.py">page fixer</a> which also adds the name of the content page file as the rendered page's HTML title. A shell script is used to run these two python scripts, use Aspell to interactively spell-check the pages and then update the 'Last updated' element of the site's <a href="{!static_path!}humans.txt">humans.txt</a></p>
  <li>
    <h3>Web Design</h3>
    <p>While building this site I read up on the topic of web design to help me achieve what I hope is a fairly good looking website. To help me do this I learnt CSS to allow me to (more) easily style and lay out the site. The CSS for ashleyheath.net is split across three files:</p>
    <ul class="bulleted">
      <li><a href="https://www.bitbucket.org/ashleyheath/ashleyheath.net/src/b34f85580201/site/css/default.css">default.css</a> stores default styling for HTML tags.</li>
      <li><a href="https://www.bitbucket.org/ashleyheath/ashleyheath.net/src/b34f85580201/site/css/classes.css">classes.css</a> holds style settings for custom classes.</li>
      <li><a href="https://www.bitbucket.org/ashleyheath/ashleyheath.net/src/b34f85580201/site/css/layout.css">layout.css</a> positions the contents of the site's HTML template and adds any additional style rules.</li>
    </ul>
  </li>
</ul>

<h2 id="1st Year University Work">1st Year University Work</h2>
<ul>
  <li>
    <h3>The Labyrinth of Dooom</h3>
    <p>In the second semester I was required to create a multiplayer dungeon game called 'The Labyrinth of Dooom'. The game was to be written in Java and the project was to be done in three parts. First, I had to create a single player version of the game with a command-line interface where the player played against an <a href="">AI player</a>. The second part was to add networking abilities to allow players on different machines to play against each other (as well as the AI). This was done using a client-server model. This part of the project involved following a pre-defined protocol for client-server communication as well as working with code given to us by the tutors and integrating our previous code with it. The final part of the project was to add an advanced GUI to the client. This was done using Swing to create an event-driven interface that responded to changes sent by the server.</p> 
    <p>The three parts of the project each had their own specification to be followed: <a href="https://www.cs.bath.ac.uk/~jjb/here/CM10228/CW2012/CM10228_Assignment_1_2012.html">part 1</a>, <a href="https://www.cs.bath.ac.uk/~jjb/here/CM10228/CW2012/CW2/cwk2.html">part 2</a>, <a href="https://www.cs.bath.ac.uk/~jjb/here/CM10228/CW2012/CM10228_Assignment_3_2012.html">part 3</a>. Also, take a look at the <a href="http://www.bitbucket.org/ashleyheath/labyrinth-of-dooom">source code</a>.</p>
  </li>
  <li>
    <h3>Calculator</h3>
    <p>The final project of the first semester was to create an infix notation calculator in Java. I designed my own algorithm for parsing the calculations and created a GUI for the application (in addition to a command-line interface) which required me to learn to use the Swing library for Java. Take a look at the <a href="https://www.bitbucket.org/ashleyheath/calculator">source code</a>.</p>
  </li>
  <li>
    <h3>SRPN</h3>
    <p>For this project I had to create a reverse-polish notation calculator to match (as closely as possible) the functionality of one provided. It had to be written in Python. Take a look at the <a href="https://www.bitbucket.org/ashleyheath/srpn">source code</a>.</p>
  </li>
  <li>
    <h3>Connect 4</h3>
    <p>This project was to create a game of Connect 4 using Python. The project also had two additional parts to it: create a GUI and create an advanced AI for the game. I used Tkinter to create a <a href="https://www.bitbucket.org/ashleyheath/connect-four/src/ff4fde057653/GUI.py">GUI</a> for the game and created an <a href="https://www.bitbucket.org/ashleyheath/connect-four/src/ff4fde057653/PlayerTypes.py">AI</a> that places its counters at the end of the longest possible run of a single colour so that with each move it either extends its own best chance of winning or blocks off the human player's best run of counters. Take a look at the <a href="https://www.bitbucket.org/ashleyheath/connect-four">source code</a>.</p> 
  </li>
</ul>
