/* Author: Ashley Heath */
/* Site: ashleyheath.net */
/* Email: code [a.t] ashleyheath [d.o.t] net */

.terminal
{
  display:block;
  width:94%;
  padding:0em 1em 0em 1em;
  background-color:black;
  color:white;
  line-height:120%;
  font-size:1.2em;
  border-style:solid;
  border-color:rgba(255,255,0,0.2);
}
kbd.terminal:before
{
  color:#B6ACAC;
  content:"ashley@laptop:~"attr(path)"$ ";
}
kbd.terminal.no_tilde:before
{
  color:#B6ACAC;
  content:"ashley@laptop:"attr(path)"$ ";
}
.terminal.top
{
  margin-top:0.5em;
  padding-top:0.7em;
  border-radius:10px 10px 0px 0px;
  border-width:2px 2px 0px 2px;
}
.terminal.middle
{
  border-radius:0px 0px 0px 0px;
  border-width:0px 2px 0px 2px;
}
.terminal.bottom
{
  margin-bottom:0.5em;
  padding-bottom:0.7em;
  border-radius:0px 0px 10px 10px;
  border-width:0px 2px 2px 2px;
}
.terminal.one_line
{
  padding-top:0.7em;
  padding-bottom:0.7em;
  border-radius:5px 5px 5px 5px;
  border-width:2px 2px 2px 2px;
}

.code
{
  display:inline-block;
  width:94%;
  margin:1% 0% 1% 0%;
  padding:1% 2% 1% 2%;
  background-color:#DCD7D7;
  border-radius:25px 25px 25px 25px;
  font-size:1.2em;
  color:black;
}
.code li
{
  border-bottom-width:1px;
  border-bottom-style:solid;
  border-bottom-color:rgba(0,0,0,0.2);
  white-space:pre;
}
.code:before
{
  float:right;
  font-weight:bold;
  font-size:150%;
  content:attr(programming_language);
}

.more_info
{

}

.bitbucket
{

}

.date
{
  float:left;
  margin:0em 1em 0em 0em;
  padding:0.5em 1em 0em 0em;
  border-width: 0px 1px 0px 0px;
  border-color:white;
  border-style:solid;
  font-size:90%;
}

.hidden
{
  display:none;
}

.bold
{
  font-weight:bold;
}

.right
{
  border-radius:50px 10px 50px 10px;
}
.left
{
  border-radius:10px 50px 10px 50px;
}

.bulleted
{
  margin:1em 0em 1em 4em;
  list-style-type:circle;
}

.foreground_color
{
  background-color:rgba(0,0,0,0.91);
  color:white;
}
.foreground_color a
{
  color:#FFE100;
}

.server_error_page
{
  display:block;
  font-size:350px;
}

.opacity_ninety
{
  opacity:0.9;
}
