/* Author: Ashley Heath */
/* Site: ashleyheath.net */
/* Email: code [a.t] ashleyheath [d.o.t] net */

html
{
  width:100%;
  height:100%;
}

p
{
  margin:0em 0em 0em 0em;
  padding:0.2em 0em 0.2em 0em;
  text-indent:1.5em;
  letter-spacing:1px;
}

aside
{
  font-style:italic;
  font-size:75%;
  text-indent:1.5em;
}

ul
{
  list-style-type:none;
  margin:0em 0em 0em 0em;
  padding:0em 0em 0em 0em;
}

h1
{
  margin:0.25em 0em 0.25em 0em;
  padding:0em 0em 0em 0em;
}
h2
{
  margin:0.5em 0em 0em 0em; 
  padding:0em 0em 0em 0em;
  font-weight:normal;
  font-size:1.7em;
}
h3
{
  margin:0.3em 0em 0em 0em;
  padding:0em 0.5em 0em 0.5em;
}

ul > h3
{
  font-weight:normal;
  font-size:1.25em;
  background-color:rgba(255,255,0,0.8);
  border-radius:10px 5px 50px 10px;
  color:black;
}

kbd
{
  margin:0px 0px 0px 0px;
  padding:0px 0px 0px 0px;
}

a:link
{
  text-decoration:none;
}
a:visited
{
  text-decoration:none;
}
a:hover
{
  text-decoration:underline;
}
a:active
{
  text-decoration:underline;
}

a[href*='bitbucket.org']:after
{
  content:url(../img/bitbucket.png);
  opacity:0.5;
}
