/* Author: Ashley Heath */
/* Site: ashleyheath.net */
/* Email: code [a.t] ashleyheath [d.o.t] net */

/* How to position the footer: http://matthewjamestaylor.com/blog/keeping-footers-at-the-bottom-of-the-page */

html
{
  text-align:center; /* Forces #column to the center of the screen */
  margin:0% 0% 0% 0%;
  padding:0% 0% 0% 0%;
}

body
{
  position:relative; /* Required to push footer to the bottom */
  width:100%;
  min-height:100%;
  margin:0% 0% 0% 0%;
  padding:0% 0% 0% 0%;
  background:url(../img/bg_photo.jpg) no-repeat fixed center center; 
  background-size:cover;
}

  #header
  {
    min-height:2em;
    overflow:hidden;
    width:95%;
    margin:0% 0% 0% 0%;
    padding:1% 0% 1% 5%;
    border-radius:0px 0px 0px 50px;
    text-align:left;
  }
  .header_title
  {
    font-size:2em;
  }
  #header:hover .header_title
  {
    opacity:0.3;
  }
  .header_menu
  {
    display:inline-block;
    float:right;
    margin:0em 1em 0em 1em;
    font-size:2em;
  }
  #header:hover .header_menu
  {
    opacity:0.3;
  }
  .header_menu_item
  {
    display:none;
    float:right;
    margin:0% 0% 0% 3%; /* % copes better with page stretching */
    font-size:2em;
  }
  #header:hover .header_menu_item
  {
    display:inline-block;
  }
  #header:hover .header_title:hover
  {
    opacity:1;
  }
  
  #column
  {
    display:inline-block;
    width:60%;
    height:100%;
    margin:0em 0em 0em 0em;
    padding:0em 0em 2em 0em;
  }

    #content
    {
      display:inline-block;
      width:100%;
      height:100%;
      margin:3em 0em 5em 0em;
      padding:1em 3em 4em 3em;
      border-radius:30px 150px 30px 150px;
      text-align:left;
    }

  #footer
  {
    position:absolute;
    bottom:0; /* Has to be 0 (not 0px) */
    width:90%;
    height:2em;
    overflow:hidden;
    margin:0px 0px 0px 0px;
    padding:1% 5% 0% 5%;
    border-radius:0px 50px 0px 0px;
  }
  #footer_text
  {
    position:absolute;
    bottom:0.5em;
    left:0;
    right:0;
  }
  #copyright, #last_updated
  {
    margin:0em 1em 0em 1em;
    font-size:0.7em;
  }
  #humans_dot_text
  {
    float:right;
  }
