/* Author: Ashley Heath */
/* Site: ashleyheath.net */
/* Email: code [a.t] ashleyheath [d.o.t] net */

body
{
  background-color:white;
}

div.linkrow
{
  width:100%;
  height:25em;
  margin:9em 0em 0em 0em;
  position:absolute;
  top:0;
}

div.mainlink
{
  float:left;
  width:28%;
  height:100%;
  margin-left:4%;
  display:table;
  text-align:center;
}

span.mainlink
{
  clear:both;
  display:table-cell;
  vertical-align:middle;
}

.mainlink > a
{
  text-decoration:none;
  color:rgba(0,0,0,0.8);
}


#writing, #projects, #about
{
  background-color:rgba(255,255,0,0.0);
  font-size:4em;
  -moz-transition: font-size 0.2s ease-in-out;
  -webkit-transition: font-size 0.2s ease-in-out;
  -o-transition: font-size 0.2s ease-in-out;
}
/#writing:hover, #projects:hover, #about:hover
{
  border-radius:50% 50% 50% 50%;
  box-shadow:-10px -5px 25px #FFE100;
  font-size:5em;
}
